# Python cache files everywhere
__pycache__/
*.pyc
*.pyo
*.pyd

# Test cache
.pytest_cache/

# Virtual envs & local env files
venv/
.env

# Playwright test artifacts
videos/
screenshot/
trace.zip

# Logs
*.log
